*~
*.aux
*.bak
*.cfg
*.config
*.csv
*.dot
*.exe
*.hprof
*.iml
*.log
*.nupkg
*.o
*.obj
*.orig
*.pyc
*.rej
*.src.tar.xz
*.swn
*.swo
*.swp
*.zip
.DS_Store
.externalToolBuilders
.factorypath
.idea
bench-results.json
core.*
env
workingsets.xml

# Directories
.metadata/
.project
.settings/
build/
clibraries/
llvm-*.src/
svmbuild/
target/
test-suite-*.src/

# Claude specific
CLAUDE.md
CLAUDE*local.md
.claude/

# Project specific
*_LOCAL.ini
*_LOCAL.json
*_LOCAL.md
*_LOCAL.txt
*_LOCAL/
